.active{
    border-bottom: 1px solid #fff;
}

.header-name{
  font-size: x-large;
  padding: .7rem;
  font-weight: bolder;
  position: absolute;
  left: 1rem;
}

.navigation{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  min-width: 100%;
  position: relative;
}
.navigation > *{
  font-size: x-large;
  padding: .7rem;
  font-weight: bolder;
}
