.form-inline{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 55%;
  margin: 0 auto;
}
.form-button{
  max-height: 3rem;
  margin-left: 1rem;
  transform: translateY(1rem);
}

.form-group{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form-group label{
  font-weight: bold;
  font-size: x-large;
  color: red;
}

